/***** CSS CONNAISSEZ-VOUS ? ******/
/* === root/html === */
:root {
    /* palette couleur */
    --full-white: #fff;
    --main-white: #f1f1f1;
    --shade-white: #eeeeee;
    --full-black: #000000;
    --main-black: #333;
    --main-gray: #aaa;
    --main-shadow: #292929;
    --dark-yellow: #f4cb38;
    --amazon-orange-star: #ffa41c; /* Stars */
    --amazon-orange-dark: #c45500; /* Encart */
    --amazon-yellow: #f7ca00; /* BTN */
    --amazon-orange: #fa8900; /* BTN */

    /* Fonts */
    --font-title: Kaushan Script, serif;
    --font-base: Lato, sans-serif;

    /* Font-size */
    --size-title: calc(2.5rem + 3.5vw);
    --size-sub-title: calc(1.5rem + 2vw);
    --size-section-title: calc(1.5rem + 2vw);
    --size-p: calc(0.2rem + 1vw);
    --text-sm: 1.4rem;
    --text-base: 1.6rem;
    --text-md: 1.8rem;
    --text-lg: 2rem; /* 20px */
    --text-xl: 2.4rem; /* 24px */
    --text-2xl: 3rem; /* 30px */
    --text-3xl: 3.6rem;
    --text-4xl: 4.2rem;
    --text-5xl: 5rem;
    --text-6xl: 6rem;
    --text-7xl: 7.2rem;

    /* Spacing */
    --space-1: 0.1rem;
    --space-2: 0.2rem;
    --space-4: 0.4rem;
    --space-6: 0.6rem;
    --space-8: 0.8rem;
    --space-10: 1rem;
    --space-12: 1.2rem;
    --space-16: 1.6rem;
    --space-20: 2rem;
    --space-28: 2.8rem;
    --space-36: 3.6rem;
    --space-44: 4.4rem;
    --space-52: 5.2rem;
    --space-60: 6rem;
    --space-72: 7.2rem;
    --space-84: 8.4rem;
    --space-96: 9.6rem;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    font-family: "Lato", sans-serif;
}

/*=== Setting Sections Guide Achat ===*/
.petkitpura {
    min-height: 100vh;
    border-top: 1px dashed #000;
}
.guideachat-50100 {
    background-color: var(--shade-white);
}
.titleH2 {
    font-size: var(--text-3xl);
    padding-top: var(--space-96);
    padding-bottom: var(--space-20);
    font-family: var(--font-base);
}
.titleH2 span {
    font-weight: bold;
}

@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 576px) {
    .guideachat-2050 {
        height: auto;
    }
    .titleH2 {
        font-size: var(--text-xl);
        padding-bottom: var(--space-10);
    }
}
/*--- setting Cards ---*/
.card {
    max-width: 600px;
    min-width: 500px;
    height: 600px;
    margin: 0 auto;
    position: relative;
    transition: 0.2s ease-in;
    border: 2px solid var(--main-gray);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
}

/* setting header img */
.header {
    width: 100%;
    height: 75%;
    position: relative;
}

.header img {
    width: 100%;
    object-fit: cover;
    margin: 0 auto;
}

@media screen and (max-width: 576px) {
}



/* setting details card */
.titleCard,
.textDetails {
    font-size: var(--text-lg);
    font-family: var(--font-base);
    background-color: #fff;
    margin: var(--space-10) 0;
    transition: 0.2s ease-in;
    text-align: justify;
    line-height: 1.1;
}
.textDetails span {
    font-weight: bolder;
    font-size: var(--text-xl);
}
.titleCard {
    font-size: var(--text-2xl);
    font-weight: bold;
    margin-top: 0;
}

@media screen and (max-width: 1200px) {
    .petkitpura {
        min-height: 100vh;
    }
    .card {
        height: auto;
    }
}
@media screen and (max-width: 576px) {
    .card {
        height: auto;
    }
}
