/***** CSS GUIDE ACHAT ******/
/* === root/html === */
:root {
    /* palette couleur */
    --full-white: #fff;
    --main-white: #f1f1f1;
    --shade-white: #b7b7b7;
    --full-black: #000000;
    --main-black: #333;
    --main-gray: #aaa;
    --main-shadow: #292929;
    --dark-yellow: #f4cb38;
    --amazon-orange-star: #ffa41c; /* Stars */
    --amazon-orange-dark: #c45500; /* Encart */
    --amazon-yellow: #f7ca00; /* BTN */
    --amazon-orange: #fa8900; /* BTN */

    /* Fonts */
    --font-title: Kaushan Script, serif;
    --font-base: Lato, sans-serif;

    /* Font-size */
    --size-title: calc(2.5rem + 3.5vw);
    --size-sub-title: calc(1.5rem + 2vw);
    --size-section-title: calc(1.5rem + 2vw);
    --size-p: calc(0.2rem + 1vw);
    --text-sm: 1.4rem;
    --text-base: 1.6rem;
    --text-md: 1.8rem;
    --text-lg: 2rem; /* 20px */
    --text-xl: 2.4rem; /* 24px */
    --text-2xl: 3rem; /* 30px */
    --text-3xl: 3.6rem;
    --text-4xl: 4.2rem;
    --text-5xl: 5rem;
    --text-6xl: 6rem;
    --text-7xl: 7.2rem;

    /* Spacing */
    --space-1: 0.1rem;
    --space-2: 0.2rem;
    --space-4: 0.4rem;
    --space-6: 0.6rem;
    --space-8: 0.8rem;
    --space-10: 1rem;
    --space-12: 1.2rem;
    --space-16: 1.6rem;
    --space-20: 2rem;
    --space-28: 2.8rem;
    --space-36: 3.6rem;
    --space-44: 4.4rem;
    --space-52: 5.2rem;
    --space-60: 6rem;
    --space-72: 7.2rem;
    --space-84: 8.4rem;
    --space-96: 9.6rem;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    font-family: "Lato", sans-serif;
}

/*=== Setting Sections Guide Achat ===*/
.guideachat-2050 {
    min-height: 100vh;
    border-top: 1px dashed #000;
}
.titleH2 {
    font-size: var(--text-3xl);
    padding-top: var(--space-96);
    padding-bottom: var(--space-20);
    font-family: var(--font-base);
}
.titleH2 span {
    font-weight: bold;
}

@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 576px) {
    .guideachat-2050 {
        height: auto;
    }
    .titleH2 {
        font-size: var(--text-xl);
        padding-bottom: var(--space-10);
    }
}
/*--- setting Cards ---*/
.card {
    width: 300px;
    height: 700px;
    margin: 20px auto;
    position: relative;
    transition: 0.2s ease-in;
    border: 2px solid var(--main-gray);
    border-radius: 10px;
}
.card:hover {
    transform: translateY(-10px);
}
@media screen and (max-width: 576px) {
    .card {
        height: 600px;
    }
}
/* setting header img */
.header {
    width: 100%;
    height: 300px;
    position: relative;
    /* background-color: rgba(216, 216, 216, 0.5); */
}
.header img {
    width: 100%;
}
@media screen and (max-width: 576px) {
    .header {
        height: 200px;
    }
    .header img {
        height: 100%;
        width: auto;
        margin: 0 auto;
    }
}

/* setting details */
.details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 240px;
}
/* setting details card */
.titleCard,
.textDetails {
    font-size: var(--text-lg);
    font-family: var(--font-base);
    background-color: #fff;
    transition: 0.2s ease-in;
}
.titleCard {
    font-size: var(--text-xl);
    font-weight: bold;
}

/* Setting stars */
.starsDetails {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 570px;
    transform: translate(-50%, -50%);
}
.starText {
    font-size: var(--text-xl);
    font-family: var(--font-base);
    font-weight: bold;
}
.starsDetails i {
    font-size: var(--text-2xl);
    color: var(--amazon-orange-star);
}

/* setting price */
.price {
    position: absolute;
    left: 50%;
    top: 610px;
    transform: translate(-50%, -50%);
    font-size: var(--text-xl);
    font-family: var(--font-base);
    font-weight: 400;
    text-align: center;
}
.spanPrice {
    font-size: var(--text-2xl);
    font-weight: bold;
}

/* setting btn */
.btn-card a {
    position: absolute;
    width: 250px;
    height: 50px;
    left: 50%;
    top: 660px;
    transform: translate(-50%, -50%);
    font-size: var(--text-xl);
    font-weight: bold;
    font-family: var(--font-base);
    color: var(--full-black);
    background-color: var(--amazon-orange);
    transition: all 0.2s ease-in;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.btn-card a:hover {
    color: #fff;
    background-color: var(--amazon-orange-dark);
    transition: all 0.2s ease-in;
}
.btn-card a img {
    width: 30px;
    padding: 5px;
    border-radius: 50%;
    background-color: var(--full-white);
}
.btn-card a i {
    width: 30px;
    height: 30px;
    font-size: var(--text-2xl);
    font-weight: bold;
}
@media screen and (max-width: 576px) {
    /* stars */
    .starsDetails {
        top: 470px;
    }
    .starText {
        font-size: var(--text-lg);
    }
    .starsDetails i {
        font-size: var(--text-xl);
    }
    /* price */
    .price {
        top: 510px;
        font-size: var(--text-lg);
        font-weight: 400;
    }
    .spanPrice {
        font-size: var(--text-xl);
        font-weight: bold;
    }
    /* btn */
    .btn-card a {
        width: 200px;
        height: 40px;
        top: 560px;
        font-size: var(--text-lg);
    }
    .btn-card a img {
        width: 25px;
    }
    .btn-card a i {
        width: 20px;
        height: 20px;
        font-size: var(--text-xl);
    }
}
