/******* CSS NAVBAR *********/
/* color navbar */
.navbar {
    background-color: rgb(69, 102, 102);
}

/* setting navbar-brand */
.navbar-brand {
    color: #fff !important;
    font-size: var(--text-5xl) !important ;
    font-family: "Kaushan Script" !important;
    transition: all 0.4s ease;
}

/* setting animation resize navbar */
.navbar.resize {
    height: auto;
    opacity: 0.9;
    transition: all 0.4s ease;
}
.navbar.resize .navbar-brand {
    font-size: 27px !important;
    transition: all 0.4s ease;
}
.navbar.resize a {
    font-size: 18px;
    transition: all 0.4s ease;
} /* ---------------------- */

.navbar-nav {
    margin-left: auto;
}
.nav-item {
    margin-right: 20px;
}

/* setting a */
.nav-link {
    color: #fff !important;
    font-family: "Lato" !important;
    font-size: 22px;
    font-weight: 700;
    transition: all 0.4s ease;
}
.dropdown-item {
    color: rgb(15, 15, 15) !important;
    font-family: "Lato" !important;
    font-size: 22px;
    font-weight: 500;
}

/****** mega menu ******/
.navbar .megamenu {
    padding: 1rem;
}
/* ============ desktop view ============ */
@media all and (min-width: 992px) {
    .navbar .has-megamenu {
        position: static !important;
    }
    .navbar .megamenu {
        left: 0;
        right: 0;
        width: auto;
        margin-top: 0;
        background-color: #c8e2d9;
    }
    .list-group a {
        color: #000 !important;
        font-family: "Lato" !important;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 5px;
        transition: all 0.4s ease;
    }
}
/* ============ desktop view .end// ============ */

/* ============ mobile view ============ */
@media (max-width: 991px) {
    .navbar.fixed-top .navbar-collapse,
    .navbar.sticky-top .navbar-collapse {
        overflow-y: auto;
        max-height: 90vh;
        margin-top: 10px;
    }
}
/* ============ mobile view .end// ============ */

/* responsive header */
@media screen and (max-width: 992px) {
    /* setting nav */
    .nav-item a {
        font-size: 18px !important;
        font-weight: 500;
    }
}
@media screen and (max-width: 768px) {
    .navbar-brand {
        font-size: var(--text-3xl) !important ;
    }
}
@media screen and (max-width: 576px) {
    .navbar-brand {
        font-size: var(--text-2xl) !important ;
    }
}
